{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "importOrder": ["^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "bracketSpacing": true,
  "endOfLine": "auto",
  "printWidth": 120,
  "proseWrap": "always",
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.sol"],
      "options": {
        "compiler": "0.8.17",
        "singleQuote": false,
        "tabWidth": 4
      }
    }
  ]
}
